<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListrikKita - Register</title>
    <link rel="stylesheet" href="<?php echo url(); ?>/assets/frontend/css/app.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/blitzer/jquery-ui.min.css" />
  </head>
  <body>
    <div class="register">
      <header id="header" class="d-none d-lg-block">
        <div class="top-nav" id="top-nav">
          <div class="container">
            <div class="wrapper">
              <div class="left">
                <nav class="download">
                  <a><i class="fa-solid fa-mobile-screen-button"></i> Unduh Mobile App <i class="fa-solid fa-angle-down"></i></a>
                  <div class="download-content">
                    <div class="d-flex">
                      <div class="col qr-code">
                        <img src="assets/images/qr-code.png" />
                      </div>
                      <div class="col store">
                        <p>Scan this QR or download app from:</p>
                        <a href="">
                          <img src="https://www.jakmall.com/images/desktop/appsstore/appsstoredownload.png" />
                        </a>
                        <a href="">
                          <img src="https://www.jakmall.com/images/desktop/googleplay/googleplaydownload.png?1" />
                        </a>
                      </div>
                    </div>
                  </div>
                </nav>
                <div class="menu-slider">
                  <p>Toko Jakarta, senin - jumat (09:00 - 17:00) <a href="">selengkapnya</a></p>
                  <p>Toko Bogor, senin - jumat (09:00 - 17:00) <a href="">selengkapnya</a></p>
                  <p>Toko Tangerang, senin - jumat (09:00 - 17:00) <a href="">selengkapnya</a></p>
                </div>
              </div>
              <div class="right">
                <nav class="lang">
                  <a class="active" href="">EN</a>
                  <a href="">ID</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="main-nav">
          <div class="container">
            <div class="wrapper">
              <div class="logo">
                <a href="index.html">
                  <img src="assets/images/logo-footer.png" alt="logo">
                </a>
              </div>
              <div class="search">
                <div class="search-top">
                  <div>
                    <form>
                      <div class="input-group">
                        <input id="search-box" type="text" class="form-control" placeholder="kata kunci..." name="">
                        <button class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <div id="suggesstion-box">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="menu">
                  <div class="all-categories">
                    Categories <i class="fa-solid fa-caret-down"></i>
                  </div>
                  <nav class="core-menu">
                    <a href="">Beranda</a>
                    <a href="">Tentang Kami</a>
                    <a href="">Hubungi Kami</a>
                    <div class="dropdown">
                      <a href="https://google.com" class="core-dropdown">
                        Permintaan B2B <i class="fa-solid fa-caret-down"></i>
                      </a>
                      <div class="dropdown-menu">
                        <a href="" class="dropdown-item">sub menu 1</a>
                        <a href="" class="dropdown-item">sub menu 2</a>
                        <a href="" class="dropdown-item">sub menu 3</a>
                        <a href="" class="dropdown-item">sub menu 4</a>
                        <a href="" class="dropdown-item">sub menu 5</a>
                      </div>
                    </div>
                  </nav>
                  <div class="sub-core-menu">
                    <div class="sub-category-wrapper">
                      <nav class="main-category custom-scroll" id="subMenu">
                        <a class="category-item" data-submenu="1">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Energi Terbarukan (Solar Panel)
                        </a>
                        <a class="category-item" data-submenu="2">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Uninterruptible Power Supply (UPS)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Lampu
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Sakelar / Stop Kontak
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          MCB
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Change Over Switch (COS)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Load Break Switch (LBS)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          MCCB
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                        <a class="category-item">
                          <div class="icon">
                            <img src="assets/images/gear.png" alt="icon">
                          </div>
                          Air Circuit Breaker (ACB)
                        </a>
                      </nav>
                      <div class="content-submenu-wrapper custom-scroll">
                        <div class="content-submenu" id="subMenu-1">
                          <nav>
                            <a class="sub-category-item" data-sub_submenu="1">Schneider Electric</a>
                            <a class="sub-category-item" data-sub_submenu="2">Nusa Solar</a>
                          </nav>
                        </div>
                        <div class="content-submenu" id="subMenu-2">
                          <nav>
                            <a class="sub-category-item" data-sub_submenu="1">Air Circuit Breaker (ACB)</a>
                            <a class="sub-category-item" data-sub_submenu="2">Change Over Switch (COS)</a>
                          </nav>
                        </div>
                      </div>
                      <div class="content-sub_submenu-wrapper custom-scroll">
                        <div class="content-sub_submenu" id="sub_subMenu-1">
                          <nav>
                            <a class="sub-subcategory-item" href="">sub sub menu 1</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 1</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 1</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 1</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 1</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 1</a>
                          </nav>
                        </div>
                        <div class="content-sub_submenu" id="sub_subMenu-2">
                          <nav>
                            <a class="sub-subcategory-item" href="">sub sub menu 2</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 2</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 2</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 2</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 2</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 2</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 2</a>
                            <a class="sub-subcategory-item" href="">sub sub menu 2</a>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="auth">
                <nav>
                  <a class="btn-auth" href="register.html">Register</a>
                  <a class="btn-auth" href="login.html">Login</a>
                  <a href="cart.html" class="btn-cart"><i class="fa-solid fa-cart-shopping"></i><span class="badge">7</span></a>
                </nav>
                <div class="cart-dropdown">
                  <div class="wrapper">
                    <div class="header">
                      <p>Keranjang (7)</p>
                      <a href="cart.html">
                        <p>selengkapnya</p>
                      </a>
                    </div>
                    <div class="list custom-scroll">
                      <div class="list-item">
                        <div class="image">
                          <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                          <div class="pcs">
                            <p>METSECT5CC005 METSECT5CC005</p>
                            <p>1 pcs</p>
                          </div>
                        </div>
                        <div class="price">
                          <p>Rp. 7.000.000</p>
                        </div>
                      </div>
                      <div class="list-item">
                        <div class="image">
                          <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                          <div class="pcs">
                            <p>METSECT5CC005 METSECT5CC005</p>
                            <p>3 pcs</p>
                          </div>
                        </div>
                        <div class="price">
                          <p>Rp. 700.000</p>
                        </div>
                      </div>
                      <div class="list-item">
                        <div class="image">
                          <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                          <div class="pcs">
                            <p>METSECT5CC005 METSECT5CC005</p>
                            <p>5 pcs</p>
                          </div>
                        </div>
                        <div class="price">
                          <p>Rp. 700.000</p>
                        </div>
                      </div>
                      <div class="list-item">
                        <div class="image">
                          <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                          <div class="pcs">
                            <p>METSECT5CC005 METSECT5CC005</p>
                            <p>1 pcs</p>
                          </div>
                        </div>
                        <div class="price">
                          <p>Rp. 700.000</p>
                        </div>
                      </div>
                      <div class="list-item">
                        <div class="image">
                          <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                          <div class="pcs">
                            <p>METSECT5CC005 METSECT5CC005</p>
                            <p>1 pcs</p>
                          </div>
                        </div>
                        <div class="price">
                          <p>Rp. 700.000</p>
                        </div>
                      </div>
                      <div class="list-item">
                        <div class="image">
                          <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                          <div class="pcs">
                            <p>METSECT5CC005 METSECT5CC005</p>
                            <p>1 pcs</p>
                          </div>
                        </div>
                        <div class="price">
                          <p>Rp. 700.000</p>
                        </div>
                      </div>
                      <div class="list-item">
                        <div class="image">
                          <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                          <div class="pcs">
                            <p>METSECT5CC005 METSECT5CC005</p>
                            <p>7 pcs</p>
                          </div>
                        </div>
                        <div class="price">
                          <p>Rp. 700.000</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <header id="m-header">
        <div class="top-nav">
          <div class="container">
            <div class="wrapper">
              <div class="logo">
                <a href="index.html">
                  <img src="assets/images/logo-footer.png" alt="logo">
                </a>
              </div>
              <div class="lang dropdown">
                <p data-bs-toggle="dropdown" class="dropdown-toggle">EN</p>
                <div class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="">EN</a>
                    <a class="dropdown-item" href="">ID</a>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-nav">
          <div class="container">
            <div class="wrapper">
              <div class="all-categories m-menu" target="categories">
                Categories
              </div>
              <div class="m-pop-menu left" id="categories">
                <div class="close close-cat">
                  <p>All Categories</p>
                  <i class="fa-solid fa-xmark"></i>
                </div>
                <nav class="m-category custom-scroll">
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Energi Terbarukan (Solar Panel)
                    </div>
                    <div class="m-submenu">
                      <button class="btn btn-default btn-back btn-back-1"><i class="fa-solid fa-arrow-left"></i> Back</button>
                      <div class="m-sub-category-item">
                        <div class="wrapper-2">
                          Sub Menu 1
                        </div>
                        <div class="m-submenu-last custom-scroll">
                          <button class="btn btn-default btn-back btn-back-2"><i class="fa-solid fa-arrow-left"></i> Back</button>
                          <div class="sub-category-item-last"><a href="">1 category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                        </div>
                      </div>
                      <div class="m-sub-category-item">
                        <div class="wrapper-2">
                          Sub Menu 2
                        </div>
                        <div class="m-submenu-last custom-scroll">
                          <button class="btn btn-default btn-back btn-back-2"><i class="fa-solid fa-arrow-left"></i> Back</button>
                          <div class="sub-category-item-last"><a href="">1 category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">category item 2</a></div>
                        </div>
                      </div>
                      <div class="m-sub-category-item">
                        <div class="wrapper-2">
                          Sub Menu 3
                        </div>
                        <div class="m-submenu-last custom-scroll">
                          <button class="btn btn-default btn-back btn-back-2"><i class="fa-solid fa-arrow-left"></i> Back</button>
                          <div class="sub-category-item-last"><a href="">1 category item 3</a></div>
                          <div class="sub-category-item-last"><a href="">category item 3</a></div>
                          <div class="sub-category-item-last"><a href="">category item 3</a></div>
                          <div class="sub-category-item-last"><a href="">category item 3</a></div>
                          <div class="sub-category-item-last"><a href="">category item 3</a></div>
                          <div class="sub-category-item-last"><a href="">category item 3</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Uninterruptible Power Supply (UPS)
                    </div>
                    <div class="m-submenu">
                      <button class="btn btn-default btn-back btn-back-1"><i class="fa-solid fa-arrow-left"></i> Back</button>
                      <div class="m-sub-category-item">
                        <div class="wrapper-2">
                          2 Sub Menu 1
                        </div>
                        <div class="m-submenu-last custom-scroll">
                          <button class="btn btn-default btn-back btn-back-2"><i class="fa-solid fa-arrow-left"></i> Back</button>
                          <div class="sub-category-item-last"><a href="">2 category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">2 category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">2 category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                          <div class="sub-category-item-last"><a href="">category item 1</a></div>
                        </div>
                      </div>
                      <div class="m-sub-category-item">
                        <div class="wrapper-2">
                          2 Sub Menu 2
                        </div>
                        <div class="m-submenu-last custom-scroll">
                          <button class="btn btn-default btn-back btn-back-2"><i class="fa-solid fa-arrow-left"></i> Back</button>
                          <div class="sub-category-item-last"><a href="">2 category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">2 category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">2 category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">category item 2</a></div>
                          <div class="sub-category-item-last"><a href="">category item 2</a></div>
                        </div>
                      </div>
                      <div class="m-sub-category-item">
                        <div class="wrapper-2">
                          2 Sub Menu 3
                        </div>
                        <div class="m-submenu-last custom-scroll">
                          <button class="btn btn-default btn-back btn-back-2"><i class="fa-solid fa-arrow-left"></i> Back</button>
                          <div class="sub-category-item-last"><a href="">2 category item 3</a></div>
                          <div class="sub-category-item-last"><a href="">2 category item 3</a></div>
                          <div class="sub-category-item-last"><a href="">category item 3</a></div>
                          <div class="sub-category-item-last"><a href="">category item 3</a></div>
                          <div class="sub-category-item-last"><a href="">category item 3</a></div>
                          <div class="sub-category-item-last"><a href="">category item 3</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Lampu
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Sakelar / Stop Kontak
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      MCB
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Change Over Switch (COS)
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Load Break Switch (LBS)
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      MCCB
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Air Circuit Breaker (ACB)
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Air Circuit Breaker (ACB)
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Air Circuit Breaker (ACB)
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Air Circuit Breaker (ACB)
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Air Circuit Breaker (ACB)
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Air Circuit Breaker (ACB)
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Air Circuit Breaker (ACB)
                    </div>
                  </div>
                  <div class="m-category-item">
                    <div class="wrapper-1">
                      <div class="icon">
                        <img src="assets/images/gear.png" alt="icon">
                      </div>
                      Air Circuit Breaker (ACB)
                    </div>
                  </div>
                </nav>
              </div>
              <div class="m-menu-search" target="m-search">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
              <div class="m-pop-search" id="m-search">
                <form method="POST" action="https://listrikkita.com/search_product.php?lang=id">
                  <div class="input-group">
                    <select name="">
                      <option value="0">Kategori</option>
                      <option value="13"> Lampu/Lighting </option>
                      <option value="13-2"> &raquo; &nbsp;Lampu LED </option>
                      <option value="13-50"> &raquo; &nbsp;Lampu Downlight </option>
                      <option value="13-96"> &raquo; &nbsp;Lampu Industri </option>
                      <option value="13-97"> &raquo; &nbsp;Baterai Alkaline </option>
                    </select>
                    <input type="text" class="form-control" placeholder="Kata Kunci ..." name="search" />
                    <button class="btn btn-outline-secondary" type="submit">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                  </div>
                </form>
              </div>
              <div class="m-menu" target="cart">
                <i class="fa-solid fa-cart-shopping"></i>
              </div>
              <div class="m-pop-menu right" id="cart">
                <div class="title">
                  <p>Keranjang (7)</p>
                  <a>selengkapnya</a>
                </div>
                <div class="close">
                  <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="list custom-scroll">
                  <div class="list-item">
                    <div class="image">
                      <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                      <p>METSECT5CC005 METSECT5CC005</p>
                    </div>
                    <div class="price">
                      <p>Rp. 7.000.000</p>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="image">
                      <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                      <p>METSECT5CC005 METSECT5CC005</p>
                    </div>
                    <div class="price">
                      <p>Rp. 700.000</p>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="image">
                      <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                      <p>METSECT5CC005 METSECT5CC005</p>
                    </div>
                    <div class="price">
                      <p>Rp. 700.000</p>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="image">
                      <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                      <p>METSECT5CC005 METSECT5CC005</p>
                    </div>
                    <div class="price">
                      <p>Rp. 700.000</p>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="image">
                      <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                      <p>METSECT5CC005 METSECT5CC005</p>
                    </div>
                    <div class="price">
                      <p>Rp. 700.000</p>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="image">
                      <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                      <p>METSECT5CC005 METSECT5CC005</p>
                    </div>
                    <div class="price">
                      <p>Rp. 700.000</p>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="image">
                      <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                      <p>METSECT5CC005 METSECT5CC005</p>
                    </div>
                    <div class="price">
                      <p>Rp. 700.000</p>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="image">
                      <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                      <p>METSECT5CC005 METSECT5CC005</p>
                    </div>
                    <div class="price">
                      <p>Rp. 700.000</p>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="image">
                      <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                      <p>METSECT5CC005 METSECT5CC005</p>
                    </div>
                    <div class="price">
                      <p>Rp. 700.000</p>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="image">
                      <img src="https://listrikkita.com/files/main_product/O4p5K-d242-1005a.png" />
                      <p>METSECT5CC005 METSECT5CC005</p>
                    </div>
                    <div class="price">
                      <p>Rp. 700.000</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-menu" target="main-menu">
                <i class="fa-solid fa-bars"></i>
              </div>
              <div class="m-pop-menu right" id="main-menu">
                <div class="close">
                  <i class="fa-solid fa-xmark"></i>
                </div>
                <a>Beranda</a>
                <a>Tentang Kami</a>
                <a>Hubungi Kami</a>
                <div class="dropdown">
                  <a class="dropdown-toggle dropdown-m">
                    Permintaan B2B
                  </a>
                  <div class="dropdown-menu dropdown-menu-m">
                    <a href="" class="dropdown-item">sub menu 1</a>
                    <a href="" class="dropdown-item">sub menu 2</a>
                    <a href="" class="dropdown-item">sub menu 3</a>
                    <a href="" class="dropdown-item">sub menu 4</a>
                    <a href="" class="dropdown-item">sub menu 5</a>
                  </div>
                </div>
                <div class="auth-wrapper">
                  <a class="btn-auth" href="register.html">Register</a>
                  <a class="btn-auth" href="login.html">Login</a>
                </div>
                <div class="m-unduh">
                  <p>Unduh Mobile App</p>
                  <div class="wrapper">
                    <a href="">
                      <img src="https://www.jakmall.com/images/desktop/appsstore/appsstoredownload.png" />
                    </a>
                    <a href="">
                      <img src="https://www.jakmall.com/images/desktop/googleplay/googleplaydownload.png?1" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="container">
          <div class="row register-content">
            <div class="col-lg-6 image">
              <img src="assets/images/auth.svg" />
            </div>
            <div class="col-lg-6 form">
              <div class="wrapper">
                <form>
                  <div class="title">
                    <h1>Register</h1>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Nama Lengkap</label>
                    <input type="text" name="" class="form-control" placeholder="masukan nama lengkap">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="" class="form-control" placeholder="masukan alamat email">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">No. HP</label>
                    <input type="text" name="" class="form-control" placeholder="masukan no hp">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">No. KTP</label>
                    <input type="text" name="" class="form-control" placeholder="masukan no ktp">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="" class="form-control" placeholder="masukan password">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Konfirmasi Password</label>
                    <input type="password" name="" class="form-control" placeholder="masukan konfirmasi password">
                  </div>
                  <button type="submit" class="btn btn-default btn-login mb-3">Register</button>
                  <div>
                    sudah punya akun? <a href="login.html" class="form-text">Login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="sitemap">
          <nav>
            <a href="about.html">Tentang Kami</a>
            <a href="faq.html">FAQ</a>
            <a href="syaratketentuan.html">Syarat dan Ketentuan</a>
            <a href="contact.html">Hubungi Kami</a>
            <a href="privacy-policy.html">Privacy Policy</a>
          </nav>
        </div>
        <div class="company">
          <div class="container">
            <div class="row">
              <div class="col left">
                <div class="logo">
                  <img src="assets/images/logo-footer.png" />
                </div>
                <div class="address">
                  <p><i class="fa-solid fa-location-dot"></i> Warehouse: Pergudangan Green Sedayu Bizpark <br>Blok GS 8 No 3 <br>JL Cakung CIlincing Timur KM.02 <br>Jakarta Timur 13910</p>
                </div>
              </div>
              <div class="col right">
                <div class="hour-info">
                  <h4>Kami Siap Melayani Anda</h4>
                  <p><i class="fa-solid fa-clock"></i> Senin - Jumat : 08:00 AM - 05:00 PM</p>
                </div>
                <div class="tlp">
                  <p><a href="tel:02122874107"><i class="fa-solid fa-phone"></i> 021 - 22874107</a></p>
                </div>
                <div class="mail">
                  <p><a href="mailto:listrikkita@ezmediantara.Com"><i class="fa-solid fa-envelope"></i> Listrikkita@Ezmediantara.Com</a></p>
                </div>
              </div>
              <div class="col">
                <div class="social-media">
                  <h4>Find Us on</h4>
                  <div class="social-media-wrapper">
                    <a href="">
                      <img src="https://listrikkita.com/files/social_media/SgxVp-Facebook.png" />
                    </a>
                    <a href="">
                      <img src="https://listrikkita.com/files/social_media/igzjS-instagram.png" />
                    </a>
                    <a href="">
                      <img src="https://listrikkita.com/files/social_media/Uq0kB-shopee.png" />
                    </a>
                    <a href="">
                      <img src="https://listrikkita.com/files/social_media/dnCsE-tokopedia.png" />
                    </a>
                  </div>
                  <div class="store">
                    <a href="">
                      <img src="https://www.jakmall.com/images/desktop/appsstore/appsstoredownload.png" />
                    </a>
                    <a href="">
                      <img src="https://www.jakmall.com/images/desktop/googleplay/googleplaydownload.png?1" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="payment">
          <div class="container">
            <div class="row">
              <div class="col col-lg-5 col-12">
                <h4>Metode Pembayaran</h4>
                <div class="payment-wrapper">
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/American-Express-1.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/American-Express-Safe-Key-1.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/JBG-1.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/JCB-Secure-1.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/Master-Card-1.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/MasterCard-Secure-Code-1.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/Visa-1.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/bca.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/mandiri.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/visa.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/master-card.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/cod.png" />
                  </div>
                  <div>
                    <img src="https://listrikkita.com/templates/mgstore/images/logo/bca-va.png" />
                  </div>
                </div>
              </div>
              <div class="col col-lg-3 col-12">
                <h4>Metode Pengiriman</h4>
                <div class="delivery-wrapper">
                  <div>
                    <img src="assets/images/pengiriman/jne.png" />
                  </div>
                  <div>
                    <img src="assets/images/pengiriman/sicepat.png" />
                  </div>
                  <div>
                    <img src="assets/images/pengiriman/go-send.png" />
                  </div>
                  <div>
                    <img src="assets/images/pengiriman/jdant.png" />
                  </div>
                  <div>
                    <img src="assets/images/pengiriman/grab-express.png" />
                  </div>
                  <div>
                    <img src="assets/images/pengiriman/shopee-xpress.png" />
                  </div>
                </div>
              </div>
              <div class="col col-lg-3 col-12">
                <h4>Rekening Bank</h4>
                <div class="bank-wrapper">
                  <div>
                    <strong>Bank BCA</strong>
                    <p>8400587575</p>
                    <p>A.N. PT. MEDIANTARA GENERAL SISTEMINDO</p>
                  </div>
                  <div>
                    <strong>Bank CIMB NIAGA</strong>
                    <p>800177511900</p>
                    <p>A.N. PT. MEDIANTARA GENERAL SISTEMINDO</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <p>Copyright &copy; 2018 - 2022 All Rights Reserved - <a href="https://listrikkita.com/">listrikkita.com</a></p>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#suggesstion-box").hide();
        $("#search-box").keyup(function() {
          var inputText = $(this).val();
          if (inputText === '') {
            $("#suggesstion-box").hide();
          } else {
            $.ajax({
              type: "POST",
              url: "data.php",
              data: 'keyword=' + $(this).val(),
              success: function(data) {
                $("#suggesstion-box").show();
                $("#suggesstion-box").html(data);
              }
            });
          }
        });
      });
    </script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/ajax.js"></script>
  </body>
</html>